.btn-group {
  position: relative;
  display: inline-flex;
  vertical-align: middle;
}

.btn-secondary {
  color: #fff;
  background-color: #6c757d;
  border-color: #6c757d;
}

#imageTextarea {
  max-width: 60% !important;
}
