<main class="container">
    <div class="row">

        <section class="col col-md-12">
            <div class="container d-flex align-items-center justify-content-center">
                <img src="https://www.enisa.europa.eu/topics/cryptography/@@images/b4559c61-0419-446c-88d9-882bbd311643.jpeg"
                    class="img-fluid w-100" alt="">
            </div>
        </section>
    </div>
</main>

<script src="/scripts/main.js"></script>